<div data-ng-controller="ListUserController as userList">
	<h1>List Of Users</h1>
	<form name="listUserForm">
		<div class="col-lg-12">
			<div class="main-box no-header clearfix">
				<div class="main-box-body clearfix">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<td><strong>Search By Employee Name/ Id/ Skills:</strong></td>
									<td><input type="text" data-ng-model="search"></td>
								</tr>
								<tr>
									<th style="text-align: center;"><span>User</span></th>
									<th style="text-align: center;"><span>Email</span></th>
									<th style="text-align: center;"><span>Role</span></th>
									<th style="text-align: center;"><span>Edit</span></th>
									<th style="text-align: center;"><span>Activate</span></th>
									<th style="text-align: center;"><span>Apply Leave</span></th>
									<th style="text-align: center;"><span>List Leave Of
											User</span></th>
								</tr>
							</thead>
							<tbody>
								<tr data-ng-repeat="list in userList |filter:filterOnLocation">

									<td style="text-align: center">{{list.userName}}</td>
									<td style="text-align: center">{{list.contact.emailAddress[0]}}</td>
									<td style="text-align: center"><p
											class="label label-success">{{list.role}}</p></td>
									<td style="text-align: center"><a href=""
										data-ng-click="edit(list);" class="table-link"> <span
											class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i>
												<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a></td>
									<td style="text-align: center"><input type="button"
										id="submitBtn" data-ng-click="changestatus(list)"
										class="btn btn-success col-xs-10" value="{{list.status}}"></td>

									<td style="text-align: center"><div class="row">
											<input type="submit" data-ng-click="applyleave(list)"
												class="btn btn-success col-xs-10" value="APPLY LEAVE">
										</div></td>
									<td style="text-align: center"><a href=""
										data-ng-click="listLeaveOfUser(list.id);" class="table-link">
											<span class="fa fa-list"></span>
									</a>
								</tr>
								<tr>
									<th>
										<div class="check-element animate-show"
											data-ng-show="userList==''">
											<span class="glyphicon glyphicon-thumbs-down"></span> No
											users to list .!!!
										</div>
									</th>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>